@model BlogArticleDetailsServiceModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewData["Title"]</h2>

<h4>published by @Model.Author on @Model.PublishDate.ToShortDateString()</h4>

<div>
    @Html.Raw(Model.Content)
</div>