@model SuppliersModel

@{
    ViewData["Title"] = $"{Model.Type} Suppliers";
}

<h2>@ViewData["Title"]</h2>


<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            TravelledDistance
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Model.Suppliers)
    {
        <tr>
            <td>
                @c.Id
            </td>
            <td>
                @c.Name
            </td>
            <td>
                @c.TotalParts
            </td>
        </tr>
    }
    </tbody>
</table>
